@model Game
@{
    ViewBag.Title = "Delete Game";
}
<h2>Confirm Deletion</h2>
<h4>@Model.Name (@Model.Year)</h4>
<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="GameId" />
    <a asp-controller="Home" asp-action="ShowGames" class="btn btn-outline-primary">Cancel</a>
    <button type="submit" class="btn btn-danger">Delete</button>
</form>