<div>
    <h1 class="display-4">About Us</h1>
</div>
<div>
    <h3>Jack Barr</h3>
    <p>
        I am a third year IT student from Chagrin Falls, OH. I'm in the software development track and currently co-oping
        at Learn21 doing software development, my co-op is currently remote. In my free time, I enjoy watching sports,
        hanging out with my friends and playing spikeball.
    </p>
</div>
<div>
    <h3>Abhishek Goel</h3>
    <p>
         I am a third year IT student from Dayton,Ohio.
        I am on the computer programming path and hope to further develop apps for the healthcare industry. 
        My last co-op was at Sogeti where I learned about creating databases and managing data.
        In my free time I like to travel , workout , and read.
        
    </p>
</div>
<div>
    <h3>Luke Greeley</h3>
    <p>I am a fourth year IT student from Elida, OH. I'm in the development track and I'm also part of the IT+ Accelerated Program. 
    I co-op for FIS (previously Worldpay) in Mason as an application developer. In my free time, I enjoy riding my motorcycle, 
    working at Rhinegeist, camping, and hanging out with friends.</p>
</div>
<div>
    <h3>Hunter Holland</h3>
    <p>
        I am a fourth year IT student with a focus in Software Development. I have spent all of my co-op 
        semesters working for 84.51°. I am returning to 84.51° this summer as a site reliability engineer. 
        I enjoy working out, skiing, watching sports and hanging out with friends. 
    </p>
</div>
<div>
    <h3>Juan Lopez Rosado</h3>
    <p>
        About
    </p>
</div>







