<div>
    <h1 class="display-4">About Us</h1>
</div>
<div>
    <h3>Jack Barr</h3>
    <p>
        About
    </p>
</div>
<div>
    <h3>Abhishek Goel</h3>
    <p>
        About
    </p>
</div>
<div>
    <h3>Luke Greeley</h3>
    <p>I am a fourth year IT student from Elida, OH. I'm in the development track and I'm also part of the IT+ Accelerated Program. 
    I co-op for FIS (previously Worldpay) in Mason as an application developer. In my free time, I enjoy riding my motorcycle, 
    working at Rhinegeist, camping, and hanging out with friends.</p>
</div>
<div>
    <h3>Hunter Holland</h3>
    <p>
        About
    </p>
</div>
<div>
    <h3>Juan Lopez Rosado</h3>
    <p>
        About
    </p>
</div>

