<div>
    <h1 class="display-4 text-center">Welcome</h1>
    <div style="margin-left: 32px;">
        <p>In this project you will see a <a asp-action="ShowGames" asp-controller="home">list of games</a> along with the year they were released and their age rating.</p>
        <p style="margin-top:-16px;">You can also add, edit and delete games.</p>
        <p>Feel free to visit the <a asp-action="About" asp-controller="home">"About"</a> page to learn more about the developers.</p>
    </div>
</div>